@model Udemy___MvcTicariOtomasyon.Models.Entities.Fatura
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="card-body">
    <h2>Yeni Fatura Ekle</h2>

    <form method="post">
        <div class="mb-3">
            <label>Seri No</label>
            <input type="text" name="FaturaSeriNo" class="form-control" />
            @Html.ValidationMessageFor(x => x.FaturaSeriNo, "", new { @style = "color:red;font-weight:bold;" })
            <br />
            <label>Sıra No</label>
            <input type="text" name="FaturaSıraNo" class="form-control" />
            @Html.ValidationMessageFor(x => x.FaturaSıraNo, "", new { @style = "color:red;font-weight:bold;" })
            <br />
            <label>Teslim Eden</label>
            <input type="text" name="TeslimEden" class="form-control" />
            @Html.ValidationMessageFor(x => x.TeslimEden, "", new { @style = "color:red;font-weight:bold;" })
            <br />
            <label>Teslim Alan</label>
            <input type="text" name="TeslimAlan" class="form-control" />
            @Html.ValidationMessageFor(x => x.TeslimAlan, "", new { @style = "color:red;font-weight:bold;" })
            <br />
            <label>Vergi Dairesi</label>
            <input type="text" name="VergiDairesi" class="form-control" />
            @Html.ValidationMessageFor(x => x.VergiDairesi, "", new { @style = "color:red;font-weight:bold;" })
            <br />
            <label>Toplam Tutar</label>
            <input type="text" name="Toplam" class="form-control" />
            @Html.ValidationMessageFor(x => x.Toplam, "", new { @style = "color:red;font-weight:bold;" })
            <br />
        </div>

        <button class="btn btn-primary">Kaydet</button>
        <a href="/Fatura/Index" class="btn btn-secondary">Vazgeç</a>
    </form>
</div>


