@model List<Udemy___MvcTicariOtomasyon.Models.Entities.SatisHareket>
@{
    ViewBag.Title = "PersonelSatisGecmisi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Personel Satış Kaydı</h2>
<div class="card-body">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><b>@ViewBag.personel</b> adlı personelin yaptığı satışlar</li>
    </ol>
    <table class="table table-bordered">
        <tr>
            <th>Satış Id</th>
            <th>Ürün</th>
            <th>Personel</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam Fiyat</th>
            <th>Tarih</th>
            <th>İşlemler</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.SatisHareketId</td>
                <td>@x.Urun.UrunAd</td>
                <td>@x.Cari.CariAd @x.Cari.CariSoyad</td>
                <td>@x.Fiyat</td>
                <td>@x.Adet</td>
                <td>@x.ToplamTutar</td>
                <td>@x.Tarih.ToString("dd MMMM yyyy")</td>
                <td><a href="/Cari/CariSatisGecmisiYazdir" class="btn btn-warning">Yazdır</a></td>
            </tr>
        }
    </table>
</div>